<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.tonna.mapper.ArticleMapper">
    <insert id="addUpdateArticle" parameterType="com.tony.tonna.entity.Article">
        INSERT INTO ARTICLE(ARTICLE_ID, ARTICLE_TITLE, ARTICLE_CONTENT, ARTICLE_CONTENT_HTML, ARTICLE_ORIGIN_USER_ID, ARTICLE_SECURITY, TYPE_ID, ARTICLE_STATUS, CREATE_DATE, UPDATE_DATE, IS_DELETE)
        VALUES (#{ARTICLE_ID},#{ARTICLE_TITLE},#{ARTICLE_CONTENT},#{ARTICLE_CONTENT_HTML},#{ARTICLE_ORIGIN_USER_ID},#{ARTICLE_SECURITY},#{TYPE_ID},#{ARTICLE_STATUS},#{CREATE_DATE},#{UPDATE_DATE},#{IS_DELETE})
    </insert>

    <delete id="removeArticleById" parameterType="string">
        DELETE FROM ARTICLE WHERE ARTICLE_ID = #{articleId}
    </delete>

    <select id="findArticleById" parameterType="string"  resultType="com.tony.tonna.entity.Article">
        SELECT A.* FROM ARTICLE A WHERE 1=1
        <if test="articleId!= '' and articleId!= null">
            and A.ARTICLE_ID = #{articleId}
        </if>
        and A.IS_DELETE = '2'
    </select>

    <update id="updateArticleStatus"  parameterType="string">
         update ARTICLE SET ARTICLE_STATUS=#{articleStatus}
         where ARTICLE_ID=#{articleId}
    </update>

    <select id="findAllArticle" parameterType="string"  resultType="com.tony.tonna.entity.Article">
        SELECT A.* FROM ARTICLE A WHERE 1=1
        <if test="typeId!= '' and typeId!= null">
            and A.TYPE_ID = #{typeId}
        </if>
        and (A.ARTICLE_STATUS='1' OR A.ARTICLE_STATUS='3')
        and A.IS_DELETE = '2'
        ORDER BY A.CREATE_DATE DESC
        limit #{start},#{end}
    </select>

    <select id="findArticleByName" parameterType="string"  resultType="com.tony.tonna.entity.Article">
        SELECT A.* FROM ARTICLE A WHERE 1=1
        and A.ARTICLE_TITLE LIKE concat('%',#{articleName},'%')
        and (A.ARTICLE_STATUS='1' OR A.ARTICLE_STATUS='3')
        and A.IS_DELETE = '2'
        ORDER BY A.CREATE_DATE DESC
    </select>

    <select id="findAuthorById" parameterType="string"  resultType="com.tony.tonna.entity.User">
        SELECT U.* FROM USER U WHERE 1=1
        <if test="authorId!= '' and authorId!= null">
            and U.USER_ID = #{authorId}
        </if>
    </select>

    <insert id="likeArticleByUser">
        INSERT INTO ARTICLE_LIKE(ARTICLE_LIKE_ID, USER_ID, ARTICLE_ID, CREATE_DATE, IS_DELETE)
        VALUES (#{articleLikeId},#{userId},#{articleId},#{createDate},#{isDelete})
    </insert>

    <select id="findUserLikeByArticleId" parameterType="string"  resultType="com.tony.tonna.VO.ArticleLikeVO">
        SELECT AL.*,U.USER_NAME FROM ARTICLE_LIKE AL,USER U WHERE 1=1
        AND AL.ARTICLE_ID = #{articleId}
        AND U.USER_ID = #{userId}
        AND AL.USER_ID = U.USER_ID
        AND AL.IS_DELETE = '2'
    </select>

    <update id="deleteLike"  parameterType="string">
         update ARTICLE_LIKE SET IS_DELETE = '1'
         where ARTICLE_ID=#{articleId}
         AND USER_ID=#{userId}
    </update>

    <select id="countLikeByArticleId" parameterType="string"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ARTICLE_LIKE AL WHERE 1=1
        AND AL.ARTICLE_ID = #{articleId}
        AND AL.IS_DELETE = '2'
    </select>

    <select id="findUserCollectByArticleId" parameterType="string"  resultType="com.tony.tonna.VO.ArticleCollectVO">
        SELECT AC.*,U.USER_NAME FROM ARTICLE_COLLECT AC,USER U WHERE 1=1
        AND AC.ARTICLE_ID = #{articleId}
        AND U.USER_ID = #{userId}
        AND AC.USER_ID = U.USER_ID
        AND AC.IS_DELETE = '2'
    </select>

    <insert id="collectArticleByUser">
        INSERT INTO ARTICLE_COLLECT(ARTICLE_COLLECT_ID, USER_ID, ARTICLE_ID, CREATE_DATE, IS_DELETE)
        VALUES (#{articleCollectId},#{userId},#{articleId},#{createDate},#{isDelete})
    </insert>

    <update id="deleteCollect"  parameterType="string">
         update ARTICLE_COLLECT SET IS_DELETE = '1'
         where ARTICLE_ID=#{articleId}
         AND USER_ID=#{userId}
    </update>

    <select id="findCollectByUserId" parameterType="string"  resultType="com.tony.tonna.entity.Article">
        SELECT A.* FROM ARTICLE_COLLECT AC,ARTICLE A
        WHERE 1=1
        AND AC.USER_ID =#{userId}
        AND A.ARTICLE_ID = AC.ARTICLE_ID
        AND AC.IS_DELETE = '2'
    </select>

    <insert id="addActivityByUser">
        INSERT INTO ACTIVITY(ACTIVITY_ID, USER_ID, ACTIVITY_STATUS, ARITCLE_ID, AUTHOR_ID, CREATE_DATE, BUSINESS_ID)
        VALUES (#{activityId},#{userId},#{activityStatus},#{articleId},#{authorId},#{createDate},#{businessId})
    </insert>

    <select id="findUserActivityByPage" resultType="com.tony.tonna.VO.ActivityVO">
        SELECT A.* FROM ACTIVITY A WHERE 1=1
        AND A.USER_ID=#{userId}
        ORDER BY A.CREATE_DATE DESC
        limit #{start},#{end}
    </select>

    <select id="findLikeByLikeId" parameterType="string"  resultType="com.tony.tonna.VO.ArticleLikeVO">
        SELECT AL.*,U.USER_NAME FROM ARTICLE_LIKE AL,USER U WHERE 1=1
        AND AL.ARTICLE_LIKE_ID = #{likeId}
        AND AL.USER_ID = U.USER_ID
        AND AL.IS_DELETE = '2'
    </select>

    <select id="findAuthorArticle"  resultType="com.tony.tonna.entity.Article">
        SELECT A.* FROM ARTICLE A WHERE 1=1
        and A.ARTICLE_ORIGIN_USER_ID = #{authorId}
        and (A.ARTICLE_STATUS='1' OR A.ARTICLE_STATUS='3')
        and A.IS_DELETE = '2'
        ORDER BY A.CREATE_DATE DESC
        limit #{start},#{end}
    </select>

    <select id="findAriticleTypeNum" parameterType="string"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ARTICLE A WHERE 1=1
        AND A.TYPE_ID = #{typeId}
        AND A.IS_DELETE = '2'
    </select>

    <select id="countArticleNum" parameterType="string"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ARTICLE A WHERE 1=1
        AND A.IS_DELETE = '2'
    </select>

    <select id="countCollectNum" parameterType="string"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ARTICLE_COLLECT AC WHERE 1=1
        AND AC.IS_DELETE = '2'
    </select>
</mapper>