<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.tonna.mapper.UserMapper">
    <select id="loadUserByUsername" resultType="com.tony.tonna.entity.User">
        select * from USER where USER_NAME=#{userName}
    </select>
    <select id="getUserRolesByUid" resultType="com.tony.tonna.entity.Role">
        select * from ROLE r,USER_ROLE ur where r.ROLE_ID=ur.R_ID and ur.U_ID=#{uid}
    </select>

    <insert id="saveSignUser" parameterType="com.tony.tonna.entity.User">
        INSERT INTO USER(USER_ID,USER_NAME,USER_PASSWORD,USER_ENABLED,USER_LOCKED,USER_INTRODUCE,USER_IMG,USER_TEL) VALUES (#{USER_ID},#{USER_NAME},#{USER_PASSWORD},#{USER_ENABLED},#{USER_LOCKED},#{USER_INTRODUCE},#{USER_IMG},#{USER_TEL})
    </insert>

    <insert id="saveUserRole">
        INSERT INTO USER_ROLE(USER_ROLE_ID, U_ID, R_ID) VALUES (#{userRoleId},#{uid},#{rid})
    </insert>

    <select id="showAllRoleInfo" resultType="com.tony.tonna.entity.Role">
        select * from ROLE r
    </select>

    <insert id="saveUserToken">
        INSERT INTO USER_TOKEN(USER_TOKEN_ID, U_ID, T_ID) VALUES (#{userTokenId},#{uid},#{token})
    </insert>

    <select id="getTokenByUserId" resultType="String">
        select ut.T_ID from USER_TOKEN ut where ut.U_ID=#{uid}
    </select>

    <delete id="deleteUserTokenByUid">
        DELETE FROM USER_TOKEN WHERE U_ID = #{uid}
    </delete>

    <select id="findUserInfoByUserId" resultType="com.tony.tonna.VO.UserInfoVO">
        select U.USER_ID,U.USER_NAME,U.USER_TEL,U.USER_IMG,U.USER_INTRODUCE from USER U where 1=1
        AND U.USER_ID=#{userId}
    </select>

    <update id="saveUserInfoById"  parameterType="string">
         update USER SET USER_NAME=#{username},USER_TEL=#{userTel},USER_INTRODUCE=#{userIntroduce}
         WHERE USER_ID=#{userId}
    </update>

    <update id="updateUserAvatarById"  parameterType="string">
         update USER SET USER_IMG=#{userImg}
         WHERE USER_ID=#{userId}
    </update>

    <select id="findUserAttentionById" parameterType="string"  resultType="com.tony.tonna.VO.AttentionVO">
        SELECT DISTINCT A.*,
            (SELECT U.USER_NAME FROM USER U
                    WHERE U.USER_ID = #{ownerId})AS OWNER_NAME,
            (SELECT U.USER_NAME FROM USER U
                    WHERE U.USER_ID = #{targetId})AS TARGET_NAME
                    FROM ATTENTION A,USER U WHERE 1=1
        AND A.OWNER_ID = #{ownerId}
        AND A.TARGET_ID = #{targetId}
        AND A.IS_DELETE = '2'
    </select>

    <insert id="addAttentionByUser">
        INSERT INTO ATTENTION(ATTENTION_ID, OWNER_ID, TARGET_ID, CREATE_DATE, IS_DELETE)
        VALUES (#{attentionId},#{ownerId},#{targetId},#{createDate},#{isDelete})
    </insert>

    <update id="deleteAttention"  parameterType="string">
         update ATTENTION SET IS_DELETE = '1'
         WHERE OWNER_ID=#{ownerId}
         AND TARGET_ID=#{targetId}
    </update>

    <select id="findAttentionByAttentionId" parameterType="string"  resultType="com.tony.tonna.VO.AttentionVO">
        SELECT DISTINCT A.*,
            (SELECT U.USER_NAME FROM USER U
                    WHERE U.USER_ID = A.OWNER_ID)AS OWNER_NAME,
            (SELECT U.USER_NAME FROM USER U
                    WHERE U.USER_ID = A.TARGET_ID)AS TARGET_NAME
                    FROM ATTENTION A,USER U WHERE 1=1
        AND A.ATTENTION_ID = #{attentionId}
        AND A.IS_DELETE = '2'
    </select>

    <select id="findAttentionByOwnerId"  resultType="com.tony.tonna.VO.AttentionVO">
        SELECT DISTINCT A.*,
            (SELECT U.USER_NAME FROM USER U
                    WHERE U.USER_ID = A.OWNER_ID)AS OWNER_NAME,
            (SELECT U.USER_NAME FROM USER U
                    WHERE U.USER_ID = A.TARGET_ID)AS TARGET_NAME
                    FROM ATTENTION A,USER U WHERE 1=1
        AND A.OWNER_ID = #{ownerId}
        AND A.IS_DELETE = '2'
        ORDER BY A.CREATE_DATE DESC
        limit #{start},#{end}
    </select>

    <select id="findAllUser" resultType="com.tony.tonna.VO.UserVO">
        SELECT U.* FROM USER U WHERE 1=1
        AND U.USER_ENABLED = '1'
    </select>

    <select id="findRoleIdByUserId" resultType="java.lang.String">
        SELECT UR.R_ID FROM USER_ROLE UR WHERE 1=1
        AND UR.U_ID = #{userId}
    </select>

    <select id="findRoleByRoleId" resultType="com.tony.tonna.entity.Role">
        SELECT R.* FROM ROLE R WHERE 1=1
        AND R.ROLE_ID = #{roleId}
    </select>

    <select id="countUserNum" parameterType="string"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM USER U WHERE 1=1
        AND U.USER_LOCKED = 'true'
    </select>
</mapper>